<div class = "mat-elevation-z6">
    <mat-toolbar class = "navbar">
        <div class = "title">
            <span>
                <mat-icon>language</mat-icon>
                VANGUARD
            </span>
        </div> 
    
        <div class = "spacer"></div>
    
        <a mat-button routerLink = "main">MAIN</a>
        <a mat-button routerLink = "camera">CAMERA</a>
        <a mat-button routerLink = "tuner">TUNER</a>
        <a mat-button routerLink = "arm">ARM</a>
        <a mat-button routerLink = "auto">AUTO</a>
    </mat-toolbar>
</div>
