.camera-selection {
    margin: 15px;
}

.menu-items {
    display: grid;
}

.mat-checkbox {
    margin: 15px;
}

.mat-radio-group {
    margin: 15px;
}

.mat-slide-toggle {
    margin: 25px;
    padding: 25px;
}

.mat-slider {
    width: 300px;
}